
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ShowGrid</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />

        <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>*@
<script>
    $(document).ready(function () {
        $("#demoGrid").DataTable({

            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 5,

            "ajax": {
                "url": "/Customer/LoadData",
                "type": "POST",
                "datatype": "json"
            },

            "columnDefs":
            [{
                "targets": [0],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [7],
                "searchable": false,
                "orderable": false
            },
            {
                "targets": [8],
                "searchable": false,
                "orderable": false
            },
            //{
            //    "targets": [9],
            //    "searchable": false,
            //    "orderable": false
            //}
            ],

            "columns": [
                  { "data": "Id", "name": "Id", "autoWidth": true },
                  { "data": "LocationName", "name": "LocationName", "autoWidth": true },
                  { "data": "TaxCode", "name": "TaxCode", "autoWidth": true },
                  { "data": "Name", "name": "Name", "autoWidth": true },
                  { "data": "Position", "name": "Position", "autoWidth": true },
                  //{ "data": "DistrictId", "name": "DistrictId", "autoWidth": true },
                  //{ "data": "Address", "name": "Address", "autoWidth": true },
                  { "data": "Fax", "name": "Fax", "autoWidth": true },
                  { "data": "PhoneNumber", "name": "PhoneNumber", "autoWidth": true },

                  {
                      "render": function (data, type, full, meta) {
                          return '<p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span> Cập nhật</button></p>';
                          //return '<a class="btn btn-info" data-target="#edit" href="/Customer/Edit/' + edit.Id + '">Edit</a>';

                      }
                  },

                   {
                       data: null, render: function (data, type, row) {
                           return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.Id + "'); >Delete</a>";
                       }
                   },

            ]

        });
    });
</script>

<script>

    function DeleteData(Id) {
        //if (confirm("Are you sure you want to delete ...?")) {
        //    Delete(Id);
        //}

        Delete(Id);

    }


    function Delete(Id) {
        var url = '@Url.Content("~/")' + "Customer/DeleteCustomer";
        $.post(url, { ID: Id }, function (data) {
            if (data == "Deleted") {
                alert("Delete Customer !");
                oTable = $('#demoGrid').DataTable();
                oTable.draw();
            }
            else {
                alert("Something Went Wrong!");
            }
        });
    }
</script>
<script>


</script>
<style>
    #edit .modal-dialog {
        width: auto;
        max-width: 100%;
    }
        #Add .modal-dialog {
        width: auto;
        max-width: 100%;
    }

    a {
        color: white;
    }

        a:hover {
            color: white;
            /* background-color: white; */
        }


</style>

<div class="container-fluid">
    <p data-placement="top" data-toggle="tooltip" title="Add">
        @*<button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#Add"><span class="glyphicon glyphicon-plus "></span>@Html.ActionLink("Thêm", "Create", "Customer", new { @class = "", @style = "color: #fff; margin: 0 5px" })</button>*@
        <button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#Add"><span class="glyphicon glyphicon-plus "></span>Thêm</button>
        <br />
        <div style="width:90%; margin:0 auto;">
            <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>CustomerID</th>
                        <th>Tên đơn vị</th>
                        <th>Mã số thuế</th>
                        <th>Người đại diện</th>
                        <th>Chức vụ</th>
                        @*<th>Quận/Huyện</th>
                        <th>Địa chỉ</th>*@
                        <th>Fax</th>
                        <th>Phone</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
</div>
<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="container text-center">
            <div class="row">
                <fieldset>
                    <legend>
                        <h4>THÊM KHÁCH HÀNG</h4>
                    </legend>

                    <div class="text-center">
                        <hr>

                        <div class="col-md-12 container">
                            <form class="form-horizontal text-left " action="/action_page.cshtml">


                                <div class="row form-group row ">
                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Mã số thuế:</label>
                                        <div class="col-md-8">
                                            <input type="" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-8 row">
                                        <label class="control-label col-md-2 " for="">Tên đơn vị:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row">


                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Địa chỉ:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>


                                    <div class="col-sm-4 row">
                                        <label class="control-label col-xm-6 col-sm-offset-2" for="">Tỉnh/thành:</label>
                                        <select class="Province col-xm-6" style="width:150px;">
                                            <option> Chọn tỉnh</option>
                                            <option>tp.HCM</option>
                                            <option>Đà nẵng</option>
                                            <option>Vũng Tàu</option>
                                            <option>Cần Thơ</option>
                                            <option>Khánh Hòa</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <!-- <input type="" class="form-control" id="" placeholder=""> -->
                                    <div class="col-sm-4 row">
                                        <label class="control-label col-xm-6 col-sm-offset-1" for="">Quận/huyện:</label>
                                        <select class="District col-xm-6" style="width:150px;">
                                            <option> Chọn huyện </option>
                                            <option>Quận 1</option>
                                            <option>Thủ Đức</option>
                                            <option>Quận 5</option>
                                            <option>Tuy Đức</option>
                                            <option>Hiệp Bình</option>
                                            <option>...</option>
                                        </select>
                                    </div>

                                    <!-- <input type="" class="form-control" id="" placeholder=""> -->

                                </div>

                                <div class="row form-group row ">
                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Số điện thoại:</label>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control " id=""
                                                   placeholder="" maxlength="12">
                                        </div>
                                    </div>
                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Fax:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group row ">
                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Họ và Tên:</label>
                                        <div class="col-md-8">
                                            <input type="" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Chức vụ:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="" placeholder="đại diện">
                                        </div>
                                    </div>

                                </div>

                            </form>


                        </div>
                        <br>
                        <hr>
                        <button type="submit" class="btn btn-primary center-block">Thêm</button>


                    </div>
                </fieldset>

            </div>



        </div>

    </div>
    <!-- /.modal-content -->
</div>
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="container text-center">
            <div class="row">
                <fieldset>
                    <legend>
                        <h4>CẬP NHẬT THÔNG TIN</h4>
                    </legend>

                    <div class="text-center">
                        <hr>

                        <div class="col-md-12 container">
                            <form class="form-horizontal text-left " action="/action_page.cshtml">


                                <div class="row form-group row ">
                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Mã số thuế:</label>
                                        <div class="col-md-8">
                                            <input type="" class="form-control" id="" placeholder="" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-8 row">
                                        <label class="control-label col-md-2 " for="">Tên đơn vị:</label>
                                        <div class="col-md-8">
                                            <input type="" class="form-control" id="" placeholder="" required>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group row">


                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Địa chỉ:</label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>


                                    <div class="col-sm-4 row">
                                        <label class="control-label col-xm-6 col-sm-offset-2" for="">Tỉnh/thành:</label>
                                        <select class="Province col-xm-6" style="width:100%;">
                                            <option> Chọn tỉnh</option>
                                            <option>tp.HCM</option>
                                            <option>Đà nẵng</option>
                                            <option>Vũng Tàu</option>
                                            <option>Cần Thơ</option>
                                            <option>Khánh Hòa</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <!-- <input type="" class="form-control" id="" placeholder=""> -->
                                    <div class="col-sm-4 row">
                                        <label class="control-label col-xm-6 col-sm-offset-1" for="">Quận/huyện:</label>
                                        <select class="District col-xm-6" style="width:150px;">
                                            <option> Chọn huyện </option>
                                            <option>Quận 1</option>
                                            <option>Thủ Đức</option>
                                            <option>Quận 5</option>
                                            <option>Tuy Đức</option>
                                            <option>Hiệp Bình</option>
                                            <option>...</option>
                                        </select>
                                    </div>

                                    <!-- <input type="" class="form-control" id="" placeholder=""> -->

                                </div>

                                <div class="row form-group row ">
                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Số điện thoại:</label>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control " id=""
                                                   placeholder="" maxlength="12">
                                        </div>
                                    </div>
                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Fax:</label>
                                        <div class="col-md-8">
                                            <input type="" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group row ">
                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Họ và Tên:</label>
                                        <div class="col-md-8">
                                            <input type="" class="form-control" id="" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-4 row">
                                        <label class="control-label col-md-4" for="">Chức vụ:</label>
                                        <div class="col-md-8">
                                            <input type="" class="form-control" id="" placeholder="đại diện">
                                        </div>
                                    </div>

                                </div>

                            </form>


                        </div>
                        <br>
                        <hr>
                        <button type="submit" class="btn btn-primary center-block">Cập nhật</button>


                    </div>
                </fieldset>

            </div>



        </div>

    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
