
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script>
        $(document).ready(function () {
            $("#demoGrid").DataTable({

                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,

                "ajax": {
                    "url": "/RegisterForm/DataRegisterWait",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                {
                    "targets": [7],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [8],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [9],
                    "searchable": false,
                    "orderable": false
                }],

                "columns": [
                      { "data": "id", "name": "id", "autoWidth": true },
                      { "data": "Code", "name": "Code", "autoWidth": true },
                      { "data": "CustomerId", "name": "CustomerId", "autoWidth": true },
                      { "data": "RegisterName", "name": "RegisterName", "autoWidth": true },
                      { "data": "Testing", "name": "Testing", "autoWidth": true },
                      { "data": "Calibration", "name": "Calibration", "autoWidth": true },
                      { "data": "TotalPrice", "name": "TotalPrice", "autoWidth": true },
                      {
                          "data": "CreatedDate",
                          "name": "CreatedDate",
                          "render": function (data) {
                              if (data) {
                                  var pattern = /Date\(([^)]+)\)/;//date format from server side
                                  var results = pattern.exec(data);
                                  var dt = new Date(parseFloat(results[1]));
                                  return dt.getDate() + "-" + (dt.getMonth() + 1) + "-" + dt.getFullYear();
                              }

                          },
                          "autoWidth": true
                      },
                      
                      { "data": "ProcessingStatusId", "name": "ProcessingStatusId", "autoWidth": true },
                      {
                          "render": function (data, type, full, meta) {
                              return '<a class="btn btn-info" href="/FormRegister/Edit/' + full.Id + '">Edit</a>';
                          }
                      },

                       {
                           data: null, render: function (data, type, row) {
                               return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.id + "'); >Delete</a>";
                           }
                       },

                ]

            });
        });
</script>

<script>

        function DeleteData(id) {
            if (confirm("Are you sure you want to delete ...?")) {
                Delete(id);
            }
            else {
                return false;
            }
        }


        function Delete(id) {
            var url = '@Url.Content("~/")' + "RegisterForm/DeleteCustomer";
            $.post(url, { ID: id }, function (data) {
                if (data == "Deleted") {
                    alert("Delete Customer !");
                    oTable = $('#demoGrid').DataTable();
                    oTable.draw();
                }
                else {
                    alert("Something Went Wrong!");
                }
            });
        }
</script>


<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Code</th>
                    <th>CustomerId</th>
                    <th>RegisterName</th>
                    <th>Testing</th>
                    <th>Calibration</th>
                    <th>TotalPrice</th>
                    <th>CreatedDate</th>
                    <th>Trạng thái</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

