
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>ShowGrid</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />

        <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>*@

<script>
        $(document).ready(function () {
            $("#demoGrid").DataTable({

                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": true, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "pageLength": 5,

                "ajax": {
                    "url": "/RegisterForm/DataRegisterProcessing",
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                },
                //{
                //    "targets": [3],
                //    "searchable": false,
                //    "orderable": false
                //},
                //{
                //    "targets": [5],
                //    "searchable": false,
                //    "orderable": false
                //},
                //{
                //    "targets": [9],
                //    "searchable": false,
                //    "orderable": false
                //}

                ],

                "columns": [
                      { "data": "id", "name": "id", "autoWidth": true },
                      { "data": "Code", "name": "Code", "autoWidth": true },
                      { "data": "CustomerId", "name": "CustomerId", "autoWidth": true },
                      { "data": "RegisterName", "name": "RegisterName", "autoWidth": true },
                      //{ "data": "Testing", "name": "Testing", "autoWidth": true },
                      //{ "data": "Calibration", "name": "Calibration", "autoWidth": true },
                      { "data": "TotalPrice", "name": "TotalPrice", "autoWidth": true },
                      {
                          "data": "CreatedDate",
                          "name": "CreatedDate",
                          "render": function (data) {
                              if (data) {
                                  var pattern = /Date\(([^)]+)\)/;//date format from server side
                                  var results = pattern.exec(data);
                                  var dt = new Date(parseFloat(results[1]));
                                  return dt.getDate() + "-" + (dt.getMonth() + 1) + "-" + dt.getFullYear();
                              }

                          },
                          "autoWidth": true
                      },
                      //{
                      //    "data": "CreatedDate", "name": "CreatedDate",
                      //    render: function (data, type, row) {
                      //        // If display or filter data is requested, format the date
                      //        if (type === 'display' || type === 'filter') {
                      //            var rowvalue = row["EventDate"];
                      //            var rowvalueallday = row["AllDayEvent"];
                      //            if (rowvalueallday == 0) {
                      //                return (moment(data).format("ddd DD/MM/YYYY (HH:mm)"));
                      //            } else {
                      //                return (moment(data).format("ddd DD/MM/YYYY"));
                      //            }
                      //        }
                      //        // Otherwise the data type requested (`type`) is type detection or
                      //        // sorting data, for which we want to use the raw date value, so just return
                      //        // that, unaltered
                      //        return data;
                      //    }
                      //},
                      //{ "data": "ProcessingStatusId", "name": "ProcessingStatusId", "autoWidth": true },
                      {
                          "render": function (data, type, full, meta) {
                              return '<a class="btn btn-info" href="/FormRegister/Edit/' + full.Id + '">Edit</a>';
                          }
                      },

                       {
                           data: null, render: function (data, type, row) {
                               return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.id + "'); >Delete</a>";
                           }
                       },

                ]

            });
        });
</script>

<script>

        function DeleteData(id) {
            if (confirm("Are you sure you want to delete ...?")) {
                Delete(id);
            }
            else {
                return false;
            }
        }


        function Delete(id) {
            var url = '@Url.Content("~/")' + "RegisterForm/DeleteCustomer";
            $.post(url, { ID: id }, function (data) {
                if (data == "Deleted") {
                    alert("Delete Customer !");
                    oTable = $('#demoGrid').DataTable();
                    oTable.draw();
                }
                else {
                    alert("Something Went Wrong!");
                }
            });
        }
</script>

@*</head>
    <body>*@
<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%" cellspacing="0">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Mã phiếu</th>
                    <th>ID Khách hàng</th>
                    <th>Người Đại diện</th>
                    @*<th>Kiểm định</th>
                    <th>Hiệu chuẩn</th>*@
                    <th>TotalPrice</th>
                    <th>CreatedDate</th>
                    @*<th>Trạng thái</th>*@
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@*</body>
    </html>*@
